body{
    background-color: #f0ebeb;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #333;
}
.box{
    background-color: #fff;
    margin-top: 50px;
    /* padding: 20px; */
    border-radius: 10px;
    width: 600px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease-in-out;
    height: 100%;
    padding: 10px;
}
.tital{
    /* border: 1px solid black; */
    /* position: absolute;
    top: 100px; */
    font-size: 20px;
    color: #000000a6;
}
.inp-div{
    margin-top: 50px;
    /* border: 1px solid rgb(216, 215, 215); */
    width: 70%;
    padding: 5px;
    /* align-items: center; */
    justify-content: center;
    display: flex;
    gap: 5px;
}
.inp{
    border-radius: 7px;
    border: 1px solid rgb(199, 196, 196);
    outline: none;
    padding: 10px;
    height: 30px;
    width: 90%;
    /* min-width: 100; */
}
.add-btn{
    background-color: #404cb8;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    font-weight: bolder;
}
.add-btn:hover{
    background-color: #4c56afbd;
    color: #fff;
    transition: 0.3s;
    /* transform: scale(1.02); */
}
.list{
    border: 1px solid rgb(211, 208, 208);
    margin-top: 80px;
    width: 80%;
    flex-direction: column;
    margin-bottom: 40px;
    border-radius: 5px;
}
.ul{
   font-weight: bolder;
   color: #0f5db6;
   
}
.ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-block-end: 12px; */
    cursor: pointer;
    transition: all 0.5s ease-in-out;

}
.ul li p{
    flex-grow: 1;
    font-size: small;
    padding: 2px;
    /* gap: 31px; */
    /* border: 1px solid black; */

}
.bttn{
    padding: 6px 10px;
    gap: 4px;
    margin: 3px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: small;
    cursor: pointer;
    /* margin-left: 30px; */
}
.E-btn{
    margin-left: 20px;
}
.R-btn:hover{
    color: rgb(233, 46, 46);
}
.E-btn:hover{
    color: rgb(56, 202, 56);
}

@media(max-width: 550px){
    body{
        font-size: 14px;
    }
   .box{
    width: 90%;
    }
   .inp{
    width: 93%;
    
   }    
   .inp-div{
    width: 95%;
    flex-direction: column;
    gap: 10px;
   }
   .add-btn{
    padding: 16px 20px;
   }
   .list{
    width: 95%;

    }
}
@media(max-width: 340px){
    .add-btn{
        padding: 16px 20px;
       }
       .inp-div{
        padding: 3px;
       }
       .bttn{
        padding: 4px 8px;
       }
      
}